body {
  font-family: "Space Mono";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 1440px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .container {
    width: 768px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 375px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin-left: 169px;
  margin-top: 34px;
}

.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  margin-left: 58px;
}

.header__item {
  margin-left: 32px;
}

.header__link {
  color: #939CAA;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}

.header__link:active {
  color: #FCB72B;
}

.header__link:hover {
  color: #FCB72B;
}

.header__btn {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-top: 22px;
  margin-left: 511px;
}

.header__btn:hover {
  border: 3px solid #FCB72B;
  background-color: #fff;
  color: #FCB72B;
}

.header__btn:active {
  border: 3px solid #FCB72B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #FCB72B;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 39px;
    margin-top: 34px;
  }
  .header__list {
    margin-top: 36px;
    margin-left: 0px;
  }
  .header__item {
    margin-left: 32px;
  }
  .header__link:active {
    color: #FCB72B;
  }
  .header__btn {
    margin-top: 22px;
    margin-left: 94px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    height: 64px;
  }
  .header__logo {
    margin-left: 98px;
    margin-top: 15px;
  }
  .header__list {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header::before {
    content: url(/images/menu.svg);
    margin-top: 24px;
    margin-left: 32px;
    cursor: pointer;
  }
}

.section1 {
  height: 650px;
  background-image: url(/images/Bitmap1x.png);
  background-size: cover;
}

.section1__sub-section {
  margin-top: 103px;
  margin-left: 165px;
}

.section1__h2 {
  width: 500px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.section1__p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  width: 400px;
  margin-left: 100px;
  position: relative;
}

.section1__p::after {
  content: url(/images/section2-strelka.svg);
  position: absolute;
  top: 45px;
  left: 450px;
}

.section1__p::before {
  content: url(/images/section2-line.svg);
  position: absolute;
  top: 50px;
  left: -295px;
}

.section1__btn {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 100px;
}

.section1__btn:hover {
  background-color: transparent;
  border: 3px solid #FCB72B;
  color: #FCB72B;
}

.section1__btn:active {
  background-color: transparent;
  border: 3px solid #FCB72B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FCB72B;
}

@media screen and (max-width: 768px) {
  .section1 {
    height: 650px;
    background-image: url(/images/intro-tablet.svg);
    background-size: cover;
  }
  .section1__sub-section {
    margin-top: 90px;
    margin-left: 150px;
  }
  .section1__h2 {
    text-align: center;
  }
  .section1__p {
    text-align: center;
    width: 500px;
    margin-left: 0px;
  }
  .section1__p::after {
    content: url(/images/section2-strelka.svg);
    position: absolute;
    top: 170px;
    left: -260px;
  }
  .section1__p::before {
    display: none;
  }
  .section1__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 375px) {
  .section1 {
    height: 650px;
    background-image: url(/images/intro-mobile.svg);
  }
  .section1__h2 {
    font-size: 40px;
    width: 300px;
    text-align: center;
    margin-left: -110px;
    margin-top: 0px;
  }
  .section1__p {
    width: 300px;
    text-align: center;
    margin-left: -110px;
    margin-top: -20px;
  }
  .section1__btn {
    margin-left: -50px;
    margin-top: 30px;
  }
  .section1__p::after {
    content: url(/images/section2-strelka.svg);
    position: absolute;
    top: 190px;
    left: -350px;
  }
}

.section2 {
  height: 300px;
  margin-top: 160px;
}

.section2__line {
  width: 973px;
  height: 10px;
  background-color: #E5ECF4;
  position: absolute;
  left: 0;
  margin-top: 60px;
  z-index: -1;
}

.section2__sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.section2__list {
  list-style-type: none;
}

.section2__circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
}

.section2__img {
  margin-top: 30px;
  margin-left: 30px;
}

.section2__h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.section2__p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 350px;
}

@media screen and (max-width: 768px) {
  .section2 {
    height: 573px;
    margin-top: 122px;
    position: relative;
  }
  .section2__line {
    width: 550px;
    height: 15px;
    background-color: #E5ECF4;
    position: absolute;
    left: -130px;
    top: 80px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .section2__sub-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -50px;
    margin-left: 50px;
  }
  .section2__list {
    list-style-type: none;
    margin-bottom: -30px;
    margin-left: 200px;
    position: relative;
  }
  .section2__circle {
    position: absolute;
    top: 40px;
    left: -150px;
  }
  .section2__img {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 375px) {
  .section2 {
    height: 792px;
  }
  .section2__line {
    display: none;
  }
  .section2__sub-section {
    margin-left: -230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2__circle {
    position: static;
    margin-left: 90px;
  }
  .section2__list {
    margin-top: 80px;
  }
  .section2__h4 {
    margin-left: 40px;
  }
  .section2__p {
    width: 300px;
    text-align: center;
  }
}

.section3 {
  height: 450px;
  margin-top: 200px;
}

.section3__sub-section {
  margin-left: 165px;
  position: relative;
}

.section3__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 450px;
}

.section3__p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 440px;
}

.section3__btn {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 40px;
}

.section3__btn:hover {
  border: 3px solid #FCB72B;
  background-color: #fff;
  color: #FCB72B;
}

.section3__btn:active {
  border: 3px solid #FCB72B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #FCB72B;
}

.section3__img {
  margin-left: 230px;
}

.section3__circle {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #E5ECF4;
  position: absolute;
  right: -330px;
}

.section3__sub-section::before {
  content: url(/images/section3-strelka.svg);
  position: absolute;
  right: -850px;
  top: 300px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section3 {
    height: 450px;
    margin-top: 200px;
    position: relative;
  }
  .section3__sub-section {
    width: 573px;
    margin-top: 380px;
    margin-left: 160px;
    position: relative;
  }
  .section3__h2 {
    text-align: center;
  }
  .section3__p {
    width: 540px;
    margin-left: -50px;
    text-align: center;
  }
  .section3__btn {
    margin-left: 120px;
  }
  .section3__btn:hover {
    border: 3px solid #FCB72B;
    background-color: #fff;
    color: #FCB72B;
  }
  .section3__btn:active {
    border: 3px solid #FCB72B;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    color: #FCB72B;
  }
  .section3__img {
    position: absolute;
    left: -70px;
    top: -100px;
  }
  .section3__circle {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-color: #E5ECF4;
    position: absolute;
    top: -100px;
    right: -330px;
  }
  .section3__sub-section::before {
    content: url(/images/section3-strelka.svg);
    position: absolute;
    right: -50px;
    top: -180px;
    z-index: 1;
  }
}

@media screen and (max-width: 375px) {
  .section3 {
    margin-top: 500px;
  }
  .section3__img {
    width: 311px;
    height: 311px;
    margin-left: 100px;
  }
  .section3__sub-section::before {
    position: absolute;
    right: -140px;
    top: -190px;
  }
  .section3__circle {
    display: none;
  }
  .section3__sub-section {
    margin-left: 50px;
    margin-top: 250px;
  }
  .section3__h2 {
    font-size: 32px;
    width: 300px;
  }
  .section3__p {
    width: 280px;
    margin-left: 0px;
  }
  .section3__btn {
    margin-left: 50px;
  }
}

.section4 {
  height: 450px;
  margin-top: 155px;
}

.section4__circle {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #E5ECF4;
  position: absolute;
  left: -350px;
}

.section4__img {
  margin-left: 130px;
}

.section4__sub-section {
  margin-top: 30px;
  margin-left: 250px;
  position: relative;
}

.section4__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 450px;
}

.section4__p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 440px;
}

.section4__btn {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 40px;
}

.section4__btn:hover {
  border: 3px solid #FCB72B;
  background-color: #fff;
  color: #FCB72B;
}

.section4__btn:active {
  border: 3px solid #FCB72B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #FCB72B;
}

.section4__sub-section::before {
  content: url(/images/section4-strelka.svg);
  position: absolute;
  right: 950px;
  top: -20px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section4 {
    height: 450px;
    margin-top: 400px;
    margin-bottom: 800px;
  }
  .section4__img {
    margin-left: 170px;
  }
  .section4__sub-section {
    margin-top: 480px;
    margin-left: -450px;
    position: relative;
  }
  .section4__h2 {
    text-align: center;
    width: 450px;
  }
  .section4__p {
    margin-left: -50px;
    width: 570px;
    text-align: center;
  }
  .section4__btn {
    margin-left: 120px;
  }
  .section4__btn:hover {
    border: 3px solid #FCB72B;
    background-color: #fff;
    color: #FCB72B;
  }
  .section4__btn:active {
    border: 3px solid #FCB72B;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    color: #FCB72B;
  }
  .section4__sub-section::before {
    content: url(/images/section4-strelka.svg);
    position: absolute;
    left: -550px;
    top: -480px;
    z-index: 1;
  }
}

@media screen and (max-width: 375px) {
  .section4 {
    margin-bottom: 550px;
  }
  .section4__img {
    width: 311px;
    height: 311px;
    margin-left: 30px;
    margin-top: -50px;
  }
  .section4__sub-section::before {
    position: absolute;
    right: -140px;
    top: -320px;
  }
  .section4__circle {
    display: none;
  }
  .section4__sub-section {
    margin-left: 50px;
    margin-top: 50px;
  }
  .section4__h2 {
    font-size: 32px;
    width: 300px;
    margin-left: -20px;
  }
  .section4__p {
    width: 280px;
    margin-left: 0px;
  }
  .section4__btn {
    margin-left: 50px;
  }
}

.section5 {
  height: 450px;
  margin-top: 200px;
}

.section5__sub-section {
  margin-left: 165px;
  position: relative;
}

.section5__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 450px;
}

.section5__p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 440px;
}

.section5__btn {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 40px;
}

.section5__btn:hover {
  border: 3px solid #FCB72B;
  background-color: #fff;
  color: #FCB72B;
}

.section5__btn:active {
  border: 3px solid #FCB72B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #FCB72B;
}

.section5__img {
  margin-left: 230px;
  border-radius: 50%;
}

.section5__circle {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #E5ECF4;
  position: absolute;
  right: -330px;
}

.section5__sub-section::before {
  content: url(/images/section5-strelka.svg);
  position: absolute;
  right: -1230px;
  top: 90px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section5 {
    height: 450px;
    margin-top: 200px;
    position: relative;
  }
  .section5__sub-section {
    margin-top: 200px;
    margin-left: 165px;
    position: relative;
  }
  .section5__h2 {
    margin-left: -20px;
    text-align: center;
  }
  .section5__p {
    width: 570px;
    margin-left: -60px;
    text-align: center;
  }
  .section5__btn {
    margin-left: 100px;
  }
  .section5__btn:hover {
    border: 3px solid #FCB72B;
    background-color: #fff;
    color: #FCB72B;
  }
  .section5__btn:active {
    border: 3px solid #FCB72B;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    color: #FCB72B;
  }
  .section5__img {
    margin-left: 230px;
    border-radius: 50%;
    position: absolute;
    top: -300px;
    left: -80px;
  }
  .section5__circle {
    position: absolute;
    top: -300px;
    right: -330px;
  }
  .section5__sub-section::before {
    content: url(/images/section5-strelka.svg);
    position: absolute;
    right: -500px;
    top: -420px;
    z-index: 1;
  }
}

@media screen and (max-width: 375px) {
  .section5__img {
    width: 311px;
    height: 311px;
    margin-left: 110px;
    margin-top: 120px;
  }
  .section5__sub-section::before {
    position: absolute;
    right: -510px;
    top: -370px;
  }
  .section5__circle {
    display: none;
  }
  .section5__sub-section {
    margin-left: 50px;
    margin-top: 170px;
  }
  .section5__h2 {
    font-size: 32px;
    width: 300px;
    margin-left: -20px;
  }
  .section5__p {
    width: 280px;
    margin-left: 0px;
  }
  .section5__btn {
    margin-left: 50px;
  }
}

.section6 {
  height: 300px;
  background-image: url(/images/Mask.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #495567;
  margin-top: 200px;
}

.section6__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
  width: 450px;
  margin-top: 102px;
  margin-left: 165px;
}

.section6__sub-section {
  margin-top: 122px;
  margin-left: 300px;
}

.section6__img {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .section6 {
    margin-top: 200px;
  }
  .section6__h2 {
    margin-top: 60px;
    margin-left: 165px;
    text-align: center;
  }
  .section6__sub-section {
    margin-top: 200px;
    margin-left: -420px;
  }
}

@media screen and (max-width: 375px) {
  .section6 {
    height: 320px;
    background-position-y: bottom;
  }
  .section6__h2 {
    font-size: 32px;
    margin-left: 40px;
    margin-top: 80px;
    width: 300px;
  }
  .section6__img {
    width: 110px;
    height: 40px;
  }
  .section6__sub-section {
    margin-top: 10px;
    margin-left: 60px;
  }
}

.footer {
  height: 100px;
  background-color: #333A44;
}

.footer__logo {
  margin-top: 35px;
  margin-left: 168px;
}

.footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  margin-left: 58px;
  margin-right: 500px;
}

.footer__item {
  margin-left: 32px;
}

.footer__link {
  color: #939CAA;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}

.footer__link:active {
  color: #FCB72B;
}

.footer__link:hover {
  color: #FCB72B;
}

.footer__img {
  margin-right: 25px;
  margin-top: 36px;
}

.footer__img:active path {
  fill: #E5ECF4;
}

.footer__img:hover path {
  fill: #E5ECF4;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    margin-left: 40px;
  }
  .footer__list {
    margin-left: 0px;
    margin-right: 150px;
  }
  .footer__sub-section {
    margin-left: -20px;
  }
  .footer__img {
    margin-right: 20px;
    margin-top: 36px;
  }
  .footer__img:active path {
    fill: #E5ECF4;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    height: 470px;
  }
  .footer__logo {
    margin-left: 134px;
    margin-top: 64px;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 70px;
  }
  .footer__item {
    text-align: center;
    margin-bottom: 16px;
  }
  .footer__sub-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=main.css.map */